body{
    text-align: center;
    font:large monospace;
    color: white;
    background: url("back.jpg") fixed;
    background-size: 100% 100%;
    padding:0;
    margin:0;
    /*linear-gradient(rgba(255,255,255,.66), rgba(255,255,255,.66)),*/
}

h1{
    margin-top: 2em;
    font: 2em;
}

header{
    margin-bottom: 3em;
}

input{
    width: 50%;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    padding:0.5em;
    border-radius: 2em;
}
  
#input{
    width:50%;
    margin:1.5em 25% 1em 25%;
    background-color:rgba(32, 110, 235, 0.33);
    border-radius: 1.5em;
    margin-top: 2em;
    padding: 1em;
}

button{
    margin: 0.5em 45% 1em 45%;
    padding:1em;
    border-radius: 2em;
    font-family: monospace;
    color: black;
    transition: 0.5s;
    cursor: pointer
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
    transition: transform 0.5s;
}

button:active{
    transform: scale(0.95);
    transition: transform 0.25s;
}

#result{
    width:40%;
    margin: 3em 30% 1em 30%;
    background-color:rgba(32, 110, 235, 0.33);
    border-radius: 1.5em;
    padding: 0.25em;
}
